@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');


html {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100vh;
    background: #5c5c5c;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Noto Sans, sans-serif;
    font-size: 12px;

}

.player-container {
    height: 600px;
    width: 350px;
    background: rgba(241, 239, 239, 0.945);
    border-radius: 5px;
    box-shadow: 0 6px 30px 5px rgba(0, 0, 0, 0.3);
}

.license-container {
    position: relative;
    top: 0;
}

.cc-by-container {
    width: 80px;
    position: relative;
    top: 50px;
    left: 235px;
    cursor: pointer;
    border-radius: 5px;
}

#cc-by {
    width: 100%;
    border-radius: 2px;
}

.credit-container-open {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 46px;
    left: 35px;
    height: 65px;
    width: 280px;
    border-radius: 2px;
    box-shadow: 0 6px 30px 5px rgba(0, 0, 0, 0.3);
    z-index: 10;
    /* border: 1px solid black; */
    background: #fff;
}

.credit-container-closed {
    display: none;
}

#credit {
    padding: 0 20px;
    font-size: 12px;
}

.music-container-with-cc-open {
    position: relative;
    top: -15px;
}

.music-container-with-cc-closed {
    position: relative;
    top: 50px;
}
.img-container {
    height: 280px;
    width: 280px;
    position: relative;
    top: 10px;
    left: 35px;
}

.img-container img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
    box-shadow: 0 3px 15px 5px rgba(0, 0, 0, 0.3);
}

.song-container {
    height: 250px;
    width: 280px;
    position: relative;
    top: 12px;
    left: 35px;

}

.song-info-container {
    height: 64px;
}

.title-container {
    overflow: hidden;
    margin-top: 20px;
    width: 246px;
}

.title {
    margin: 0;
    text-align: left;
    font-size: 1.2rem;
}

.long-title {
    text-align: left;
    width: 320px;

    /* animation properties */
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    
    -moz-animation: my-animation 15s linear infinite;
    -webkit-animation: my-animation 15s linear infinite;
    animation: my-animation 15s linear infinite;
}

/* for Firefox */
@-moz-keyframes my-animation {
    from { -moz-transform: translateX(0%); }
    to { -moz-transform: translateX(-100%); }
}

/* for Chrome */
@-webkit-keyframes my-animation {
    from { -webkit-transform: translateX(0%); }
    to { -webkit-transform: translateX(-100%); }
}

@keyframes my-animation {
    from {
        -moz-transform: translateX(0%);
        -webkit-transform: translateX(0%);
        transform: translateX(0%);
    }
    to {
        -moz-transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
}

#album {
    margin: 0;
    text-align: left;
    font-size: 0.75rem;
}

#artist {
    margin-top: 0;
    text-align: left;
    font-size: 0.9rem;
}

#favorite {
    font-size: 25px;
    position: relative;
    top: -75px;
    left: 255px;
    cursor: pointer;
    /* background: red; */
}
/*  Progress bar*/
.progress-container {
    background: #fff;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    height: 4px;
    width: 100%;
}

.progress {
    background: #242323;
    border-radius: 5px;
    height: 100%;
    width: 0%;
    transition: width 0.1s linear;
}

.duration-wrapper {
    position: relative;
    top: 0px;
    display: flex;
    justify-content: space-between;
}

/* Controls */
.player-controls {
    margin-top: 30px;
    position: relative;
    top: -15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 280px;
}

.prev-play-next {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 130px;
}
.fa-solid {
    font-size: 25px;
    color: rgb(46, 46, 46);
    cursor: pointer;
    user-select: none;
}

.fa-solid:hover {
    filter: brightness(20%)
}


#shuffle {
    color: #8f8f8f;
}

#repeat {
    color: #8f8f8f;
}

#shuffle-active {
    color: rgb(46, 46, 46)
}

#repeat-song-active {
    color: rgb(46, 46, 46);
}

.main-button {
    font-size: 45px;
    position: relative;
}